.Home-parent {
    width: 100%;
    height: 100vh;
    background: #130F26;
    color: white;
    padding: 98px 55px 54px 55px;
    box-sizing: border-box;
    display: flex;
}

.Home-displayText {
    width: 389px;
    min-width: 389px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 120px;
    padding-bottom: 10%;
}
.Home-displayText-title {
    width: 100%;
    padding-bottom: 49px;
    border-bottom: 2px solid #39424E;
}

.Home-displayText-title h3  {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 17px;
}

.Home-displayText-title p  {
    text-align: start;
}

.Home-displayText-button {
    margin-top: 47px;
    width: 100%;
    padding:  0 19px;
    background: #130F26;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
}

.Home-displayText-button:hover {
    transform: scale(1.05);
}

.Home-displayText-button img {
    width: 34px;
    height: auto;
    object-fit: contain;
}

.Home-displayText-button p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin-left: 70px;
}